.header-container {
    /*Top heading selector */
    font-size:24px;
    display:flex;
    align-items:center;
    background-color: #1F2937;
    color: #F9FAF8;
    font-weight: bold;
}

.header-links {
    display:flex;
    align-items: center;
}

.left-side, .right-side {
    display:flex;
}

.right-side {
    margin-left:auto
}

