.header-container {
    /*Top heading selector */
    font-size:24px;
    display:flex;
    align-items:center;
    background-color: #1F2937;
    color: #F9FAF8;
    font-family: sans-serif;
    font-weight: bold;
    padding: 8px;
}

.header-links {
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    border:0;
    gap: 8px;
    list-style: none;
}

.left-side, .right-side {
    display:flex;
}

.right-side {
    margin-left:auto;
    font-size:18px;
 }   

 .left-side{   
     font-size:24px;
}

* {
    margin: 0;
    padding: 0;
}

